* {
    font-family: Arial;
}
div {
    display: block;
}
.tab {
    text-indent: 40px;
}
#Gloop {
    text-indent: 140px;
    font-family: 'Magneto'; 
    color: mediumpurple
}
h1 {
    font-family: Arial; 
    text-indent: 100px;
}
b {
    font-weight: 600;
}
#LIKES {
    color: rgb(26, 113, 184);
    margin-left: 88px
}
#IAmSpeed {
    margin-left: 116px;
}
.weapon {
    text-indent: 0px;
    margin-left: 60px;
}