* {
    font-family: Arial;
}
div {
    display: block;
}
.tab {
    text-indent: 40px;
}
#Gloop {
    text-indent: 140px;
    font-family: 'Magneto'; 
    color: mediumpurple
}
h1 {
    font-family: Arial; 
    text-indent: 100px;
}
b {
    font-weight: 600;
}
#LIKES {
    color: rgb(26, 113, 184);
    margin-left: 88px
}
#IAmSpeed {
    margin-left: 116px;
}
.weapon {
    text-indent: 0px;
    margin-left: 60px;
}
#OmniCorp {
    height: 400px;
    width: 400px;
}
#King {
    color: rgb(93, 187, 204) ;
    margin-left: 15px;
}
a {
    margin-left: 160px
}
#id {
    margin-left: 0px;
    text-indent: 60px;
}
#sub-60 div {
    background-color: lightblue;
    margin: 4px;
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 20px;
}
#Updog {
    float: left;
}
#sub-Updog a{
    visibility: hidden;
    display: block;
}
#ul-1 li:hover div a{
    visibility: visible;
}
#ul-1 {
    list-style-image: none;
    list-style: none;
    font-size: 25;
    float: left;
}
#ul-1 li {
   padding: 3px;
   display: block;
   background-color: white;
   float: left;
}
a {
    color: deepskyblue;
}
a:hover {
    color: lightblue;
}
#sub-60 img {
    height: 100px;
    width: 100px;
    padding: 1px;
}